<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Tests">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="DB_CONNECTION" value="mongodb"/>
        <env name="MONGO_HOST" value="localhost"/>
        <env name="MONGO_DRIVER" value="mongodb"/>
        <env name="MONGO_DATABASE" value="unittest"/>
        <env name="MONGO_PORT" value="27017"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
    </php>
</phpunit>
