<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         backupGlobals="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false">
    <testsuites>
        <testsuite name="Tests">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <php>
        <env name="DB_CONNECTION" value="mongodb"/>
        <env name="MONGO_HOST" value="localhost"/>
        <env name="MONGO_DRIVER" value="mongodb"/>
        <env name="MONGO_DATABASE" value="unittest"/>
        <env name="MONGO_PORT" value="27017"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
    </php>
</phpunit>

